/**************************************
	MAIN STYLES -- CONTACT INFO
**************************************/

#contact-container {
	@include text-align(center);
	padding: 50px;
}
.contact-info { 
	a {
		@extend %font;
		text-decoration: none;
		color: $footer-color;
	}
	 a:hover {
		color: $prim-color;
	}
}
@include bp(big-screen) {
	.contact-para {
		@include text-align(center);
	}
}
	
