/****************************************
		NONE MOBILE DISPLAY -- OFF
****************************************/

#none-mobile {
	display: none;
	@media #{$tablet} {
		@include flex(flex, row, space-between);
	}
}

/**************************************
	MAIN STYLES -- FOOTER MENU
**************************************/

#mobile-only {
	@include flex(flex, row, space-between);
	@include text-align(center);
	@include bp(phone-tablet) {
		display: none;
	}
}

.backtop,
.jun {
	margin: 0;
	@include %footer-padding /* footer spacing */
}
.backtop{ 
	a {
		text-decoration: none;
		color: black;
	}
	a:hover{
		color: $prim-color;
		transition: 0.7s;
	}
}
	@include bp(phone-tablet) {
	.right {
		padding-bottom: 40px;
		li {
			float: left;
			@include %footer-padding /* footer spacing */
		}
		a {
			text-decoration: none;
			color: black;
			@include margin;
		}
		a:hover {
			color: $prim-color;
			transition: 0.7s;
		}
	}
	.left {
		margin-right: auto;
		padding-bottom: 40px;
	}
}

