/****************************************
		NONE MOBILE DISPLAY -- OFF
****************************************/

#none-mobile {
	display: none;
	@include bp(tablet) {
		@include flex(flex, row);
		justify-content: space-between;
	}
}

/**************************************
	MAIN STYLES -- FOOTER MENU
**************************************/

#mobile-only {
	@include flex(flex, row);
	justify-content: space-between;
	@include text-align(center);
	@include bp(tablet) {
		display: none;
	}
}

.backtop,
.jun {
	margin: 0;
	@extend %footer-padding /* footer spacing */
}
.backtop{ 
	a {
		text-decoration: none;
		color: $footer-color;
	}
	a:hover{
		color: $prim-color;
		transition: 0.7s;
	}
}
	@include bp(tablet) {
	.right {
		padding-bottom: 40px;
		li {
			float: left;
			@extend %footer-padding /* footer spacing */
		}
		a {
			text-decoration: none;
			color:$footer-color;
			@include margin;
		}
		a:hover {
			color: $prim-color;
			transition: 0.7s;
		}
	}
	.left {
		margin-right: auto;
		padding-bottom: 40px;
	}
}

