@import 'base/_base';
@import 'body/_nav';
@import 'body/_body';
@import 'footer/_contact';
@import 'footer/_footer';


/****************************************
				CLEARFIX
****************************************/
	
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

