//Color Variables
$prim-color: #0abab5;
$backg-color: #f3f3f3;
$nav-a-color: grey; 
$footer-color: black;

//Font Size
$h1-font-size: 50px;
$h4-font-size: 1.145em; 
$port-font-size: 1.5em;
$base_font-size: 1em;

//Mixins

//Screen Resolution variables
@mixin bp($point) {
  @if $point == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == monitor {
    @media (min-width: 1024px) { @content; }
  }
}

@mixin margin {
	margin-left: .65em;
	margin-right: .65em;
}
@mixin text-align($align) {
	text-align: $align;
}
@mixin flex($flex, $direction) {
	display: $flex;
	flex-direction: $direction;
}

// SELECTORS

// Display , float- left
%display-f-left {
	float: left;
	display: block;
}
%footer-padding {
	padding: 30px 10px 30px 0px;
}
%font {
	font-family: "Times New Roman", Times, serif;	
}
