/**************************************
	MAIN STYLES -- MAIN PROFOLIO 
**************************************/

#port {
	@include text-align(center);
	display: block;
	font-size: 1.5em;
	font-weight: 700;
}
.intro {
	padding-bottom: 1em;
	padding: 20px 50px 30px 50px;
	@include bp(phone-tablet) {
		margin-top: 0;
		padding: 50px 40px 0 20px;
		text-align: left;
		max-width: 50%;
	}
}
.projects {
 img {
		max-height: 95%;
		max-width: 95%;
		display: block;
		margin: 0 auto;
		padding: 5px;	
	}
}
.projects {
	 h4 {
		@include text-align(center);
		padding: 0 20px 0 20px; 
		font-size: $special-font-size;
	 }
	 p {
		@include text-align(center); 
		padding: 0 20px 0 20px;
	}
	li{
		@include bp(phone-tablet) {
			@include %display-f-left;
			max-width: 50%;
		}
		@include bp(big-screen) {
			@include %display-f-left; 
			max-width: 33.33%;
		}
	}
}

	