/**************************************
			MAIN STYLES
**************************************/
.self-intro,
.drawing,
header,
#contact-container {
	background-color: $backg-color; 
}
@include bp(monitor) {
	.self-intro {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.intro {
		padding-left: 5%;
	}
}
#nav,
#main-header {
	@include flex(flex, column);
	
	@include bp(monitor) {
		flex-direction: row;
	}
}

#jc {
	@extend %font;
	@include text-align(center);
	margin: 0 auto;
	padding-top: 1em; 
	@include bp(tablet) {
		font-size: $h1-font-size;
	}
	@include bp(monitor) {
		margin: 0;
		padding-left: 5%;
	}
}
#nav{
	@include bp(tablet) { 
		@include flex(flex, row);
		justify-content: space-between;
		@include text-align(center);
		padding: 20px 20% 30px 20%;
	}
	@include bp(monitor) {
		margin-left: auto;
		padding: 30px;
	}
	a {
		@include text-align(center);
		margin-top: 2em;
		border-bottom: 1px solid #ddd;
		text-decoration: none;
		color: $nav-a-color;
		display: block;
	}
	a:hover {
		color: $prim-color;
		border-bottom-color: $prim-color;
		transition: 0.7s; 
	}
	li {
		@include bp(monitor) {
			margin-right: 20px;
		}
	}
}
.drawing {
	max-height: 350px;
	max-width: 350px;
	display: block; 
	padding: 1em;
	margin: 0 auto; 
	@include bp(tablet) {
		float: right;
		height: 200px;
		width: 350px;
	}
	@include bp(monitor) {
		float: right;
		max-height: 100%;
		max-width: 100%;
	}		
}	
